div{
    margin:10px;
    border:0;
    padding:0;
}
.div-search{ 
    width:800px;  
    height:150px;  
    position:absolute;  
    left:50%;  
    top:15%;  
    margin:-75px 0 0 -400px;
    /*background-color: aquamarine;*/
    border:1px solid #000;
}
.div-search input{
    /*width: 100%;*/
    height: 42px;
    padding-left: 10px;
    border: 2px solid #666666;
    border-radius: 5px;
    outline: none;
    background: #F9F0DA;
    color: #9E9C9C;
}
.div-search button {
    position: absolute; 
    /*top: 0;*/
    right: 90px;
    width: 42px;
    height: 42px;
    background: #dedede;
    border: 2px solid #666666;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    outline:none;
}
.result{
    width:800px;
    position:absolute;  
    left:50%;  
    top:28%;  
    margin:0 0 0 -400px;
}
table.result{
    font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.result th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.result td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}